/* Mixins */
@mixin dflex($direction,$justify,$align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin square($size){
    height: $size;
    width: $size;
}
@mixin dgrid($col,$col-qun,$row,$row-qun,$gap){
    display: grid;
    grid-template-columns: repeat($col-qun,$col);
    grid-template-rows: repeat($row-qun,$row);
    grid-gap: $gap;
}
@mixin absolute-cover{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* variables */
$nav-bgc: rgb(37,37,37);
$nav-height: 60px;
$nav-color: white;
$root-font: 10px;
$home-color: white;
$heading: 3.2rem;
$heading-2: 2.5rem;
$heading-3: 1.8rem;
$content: 1.5rem;
$heading-color: rgb(33,33,33);
$heading-bg: rgb(226,226,226);
$orange: rgb(246,159,0);
$resume-group: rgb(129,134,161);
$resume-group-pad: 0 15px;
$resume-group-gap: 20px;
/* sass code */

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    color: inherit;
    list-style: none;
    scroll-behavior: smooth;
    scroll-margin-top: $nav-height;
    &:focus,&:active,&:hover{
        outline: none;
        text-decoration: none;
        color: inherit;
        list-style: none;
    }
}
a{
    -webkit-tap-highlight-color: transparent;
}
html{
    font-size: $root-font;
    font-family: Times New Roman;
}

/* global classes */
.heading{
    font-size: $heading;
    position: relative;
    text-align: center;
    color: $heading-color;
    text-transform: uppercase;
    &::before{
        content: '';
        font-size: $heading+1rem;
        position: absolute;
        @include absolute-cover;
        transform: translateY(-25px);
        color: $heading-bg;
        z-index: -1;
    }
}

.heading-2{
    font-size: $heading-2;
    margin: 35px 0;
}

.heading-3{
    font-size: $heading-3;
    transform: translateY(-4px);
    margin-top: $resume-group-gap;
    color: rgb(246,159,0);
    text-transform: uppercase;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        @include square($heading-3 - .7rem);
        border: 2px solid $resume-group;
        border-radius: 50%;
        background-color: white;
        transform: translate(-2.3rem,4px);
    }
}
/* code */
#nav{
    position: fixed;
    z-index: 2;
    width: 100vw;
    background-color: $nav-bgc;
    color: $nav-color;
    @include dflex(column,center,center);
    .mainStrip{
        height: $nav-height;
        width: 100vw;
        @include dflex(row,space-between,center);
        
        p{
            margin-left: 20px;
            font-size: 2.3rem;
        }
        #menu-btn{
            margin-right: 20px;
            @include dgrid(1fr,3,1fr,3,3.5px);
            @include square(25px);
            .bar{
                background-color: $nav-color;
            }
        }
    }
    .menuStrip{
        position: fixed;
        @include absolute-cover;
        right: 100%;
        left: -1%;
        z-index: 3;
        background-color: $nav-color;
        border-right: 1px solid rgb(206,206,206);
        overflow: hidden;
        transition: right .2s ease;
        @include dflex(column,center,center);
        ul{
            width: 75%;
        }
        .link{
            color: $nav-bgc;
            font-size: 1.7rem;
            padding: 20px;
            background-color: rgb(232,232,232);
            border-radius: 9990px;
            display: grid;
            grid-template-columns: 1fr 4fr;
            margin: 15px 0;
            i{
                font-size: 1.9rem;
                margin-right: 10px;
                place-self: center;
            }
        }
    }
    .expanded{
        left: 0;
        right: 20%;
    }
}

#home{
    height: 100vh;width: 100vw;
    padding: 20px;
    color: $home-color;
    text-align: center;
    position: relative;
    background: url(../img/main-bg.jpg) no-repeat center center/cover fixed;
    @include dflex(column,center,center);
    #first,#third{
        font-size: 2rem;
        margin: 10px 0;
        text-shadow: 2px 2px rgb(60,60,60);
    }
    #second,#forth{
        font-size: 4rem;
        text-shadow: 3px 3px rgb(60,60,60);
        word-wrap: break-word;
        white-space: break-word;
    }
    #forth::after{
        content: '';
        padding-left: 10px;
        border-right: 2px solid white;
        box-shadow: 2px 0 rgb(60,60,60);
        animation: blink .3s ease infinite;
    }
    .btn{
        font-size: 3.3rem;
        position: absolute;
        bottom: 150px;
        text-shadow: 2px 2px rgb(60,60,60);
        animation: vibrate 2s linear infinite;
    }
}

#about{
    padding: 50px 20px;
    font-size: $content;
    .heading{
        &::before{
            content: 'ABOUT ME';
        }
    }
    ul{
        margin: 25px 0;
    }
    li{
        margin: 10px 0;
        @include dflex(row,flex-start,center);
        i{
            margin-right: 10px;
            color: $orange;
        }
        span{
            &:first-of-type{
                font-weight: bold;
                @include dflex(row,flex-start,center);
                margin-right: 5px;
            }
        }
    }
    #skillBars{
        @include dflex(column,space-evenly,flex-start);
        margin: 30px 0;
        .set{
            padding: 10px 0;
            width: 100%;
        }
        .skillBar{
            @include dflex(row,space-between,center);
            .bar{
                width: 87%;
                height: 9px;
                border-radius: 3px;
                transform: skew(-10deg);
                background-color: rgb(234,234,234);
                position: relative;
                --width: 0;
                &::after{
                    content: '';
                    position: absolute;
                    @include absolute-cover;
                    background-color: $orange;
                    z-index: 10;
                    border-radius: 3px;
                    transition: width .4s linear;
                    width: var(--width);
                }
            }
        }
    }
}

#resume{
    font-size: $content;
    padding: 50px 20px;
    .heading{
        margin-bottom: 30px;
        &::before{
            content: 'MY RESUME';
        }
    }
    p{
        text-align: center;
    }
    .group{
        padding: $resume-group-pad;
        border-left: 2px solid $resume-group;
        p{
            text-align: left;
            margin-top: $resume-group-gap;
        }
        .timeSpan{
            margin-top: $resume-group-gap;
            padding: 5px;
            display: inline-block;
            text-transform: capitalize;
            background-color: rgb(225,225,225);
            border: 1px solid rgb(220,220,220);
            border-radius: 2px;
        }
        .project-link{
            color: rgb(0,95,191);
            display: inline-block;
            margin-top: $resume-group-gap;
        }
    }
}

#location{
    padding: 50px 20px;
    .heading{
        &::before{
            content: 'My Location';
        }
    }
    #map{
        height: 400px;
        margin-top: 40px;
        border: 1.5px solid grey;
        border-radius: 10px;
    }
}

#contact{
    padding: 50px 20px;
    .heading{
        &::before{
            content: 'Contact Me';
        }
    }
    .card{
        border: .5px solid rgb(234,234,234);
        box-shadow: 2px 2px 15px 1px rgb(225,225,225), -2px -2px 15px 1px rgb(225,225,225),;
        padding: 20px 10px;
        margin: auto;
        font-size: $content;
        color: grey;
        text-align: center;
        margin-top: 50px;
        h2{
            text-transform: capitalize;
            font-size: $heading-2;
            font-weight: bold;
            margin: 15px 0;
        }
        .card-text{
            font-size: $content;
        }
        .top-icon{
            i{
                margin: auto;
                background-color: rgba(255,165,0,0.3);
                padding: 5px;
                border-radius: 50%;
                color: $orange;
                font-size: 2.5rem;
                @include square(45px);
                display: grid;
                place-items: center;
            }
        }
        .other-icons{
            width: 100%;
            height: 50px;
            font-size: 2.3rem;
            @include dflex(row,space-evenly,center);
            i{
                padding: 8px;
                border-radius: 50%;
                border: 1px solid grey;
            }
        }
    }
    .social{
        width: 100%;
        max-width: 600px;
    }
    .email,.call{
        width: 100%;
    }
    .contact-form{
        input,textarea{
            width: 100%;
            font-family: Times New Roman;
            margin: 10px 0;
            padding: 15px 10px;
            font-size: $content;
            border: 1.5px solid rgb(176,176,176);
            border-radius: 5px;
            color: black;
            &:placeholder{
                color: grey;
            }
        }
        button{
            margin: 10px 0;
            padding: 10px 15px;
            background-color: $orange;
            border: none;
            border-radius: 7px;
            color: white;
            font-size: $content + .2rem;
            border: 1px solid $orange;
            font-weight: bold;
            &:active{
                background-color: transparent;
                color: $orange;
            }
        }
    }
}

#footer{
    margin-top: 50px;
    color: white;
    padding: 50px 20px;
    background-image: linear-gradient(
        rgba(0,0,0,.25),
        rgba(0,0,0,.25)
    ),url('../img/footer-bg.jpg');
    background-origin: center;
    background-position: center;
    background-size: 100% 100%;
    font-size: $content;
    .heading{
        color: white;
    }
    p{
        margin: 15px 0;
        text-align: center;
    }
    .icons{
        margin: 25px 0;
        @include dflex(row,space-around,center);
        i{
            margin: auto;
            background-color: $orange;
            padding: 5px;
            border-radius: 50%;
            font-size: 2.5rem;
            @include square(45px);
            display: grid;
            place-items: center;
        }
    }
}

@keyframes blink {
    from{
        border-right-color: rgb(255,255,255,0);
    }
    to{
        border-right-color: rgb(255,255,255,1);
    }
}

@keyframes vibrate{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
