#about {
  padding: 90px 20px 0px;
  font-size: 1.5rem;
}
#about .heading::before {
  content: "ABOUT ME";
}
#about ul {
  margin: 25px 0;
}
#about li {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
#about li i {
  margin-right: 10px;
  color: #f69f00;
}
#about span:first-of-type {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5px;
}
