#certs {
  padding: 50px 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#certs .heading {
  width: 100%;
}

#certs .heading::before {
  content: "Certificates";
}

#certs .box {
  margin-top: 20px;
  width: 100%;
  max-width: 790px;
  border: 1.5px solid grey;
  border-radius: 5px;
  overflow-x: auto;
  padding: 20px 5px;
  display: flex;
  flex-basis: 1;
}

#certs .box::-webkit-scrollbar {
  display: none;
}

#certs .images {
  width: 290px !important;
  height: 160px !important;
  margin: 0 10px;
  border: 1px solid black;
  border-radius: 4px;
}