#contact {
  padding: 90px 20px 0px;
}
#contact .heading::before {
  content: "Contact Me";
}
#contact .card {
  border: 0.5px solid #eaeaea;
  box-shadow: 2px 3px 1px #e1e1e1;
  padding: 20px 10px;
  margin: auto;
  font-size: 1.5rem;
  color: grey;
  text-align: center;
  margin-top: 50px;
  border-radius: 5px;
}
#contact .card h2 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 15px 0;
}
#contact .card-text {
  font-size: 1.5rem;
}
#contact .top-icon i {
  margin: auto;
  background-color: rgba(255, 165, 0, 0.3);
  padding: 5px;
  border-radius: 50%;
  color: #f69f00;
  font-size: 2.5rem;
  height: 45px;
  width: 45px;
  display: grid;
  place-items: center;
}
#contact .other-icons {
  width: 100%;
  height: 50px;
  font-size: 2.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
}
#contact .other-icons i {
  padding: 8px;
  border-radius: 50%;
  border: 1px solid grey;
}
#contact .social {
  width: 100%;
  max-width: 800px;
}
#contact .email,
#contact .call {
  position: relative;
  width: 100%;
  /* display: inline-block; */
}
#contact .email-call-wrapper {
  padding: 0;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}

#contact .contact-form {
  width: 100%;
  max-width: 800px;
  padding: 25px 20px;
}
#contact input,
#contact textarea {
  width: 100%;
  font-family: Times New Roman;
  margin: 10px 0;
  padding: 15px 10px;
  font-size: 1.5rem;
  border: 1.5px solid #b0b0b0;
  border-radius: 5px;
  color: black;
}
#contact input:placeholder,
#contact textarea:placeholder {
  color: grey;
}
#contact .contact-form button {
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #f69f00;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 1.7rem;
  border: 1px solid #f69f00;
  font-weight: bold;
  cursor: pointer;
}
#contact .contact-form button:active {
  background-color: transparent;
  color: #f69f00;
}
