#location {
  padding: 90px 20px 0px;
}
#location .heading::before {
  content: "My Location";
}
#location #map {
  height: 400px;
  margin-top: 40px;
  border: 1.5px solid grey;
  border-radius: 10px;
}
