* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  color: inherit;
  list-style: none;
  scroll-behavior: smooth;
  scroll-margin-top: 70px;
}
*:focus, *:active, *:hover {
  outline: none;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
a {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  font-family: Times New Roman;
}

.heading {
  font-size: 3.2rem;
  position: relative;
  text-align: center;
  color: #212121;
  text-transform: uppercase;
}
.heading::before {
  content: "";
  font-size: 4.2rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(-25px);
  color: #e2e2e2;
  z-index: -1;
}

.heading-2 {
  font-size: 2.5rem;
  margin: 35px 0;
}

.heading-3 {
  font-size: 1.8rem;
  transform: translateY(-4px);
  margin-top: 20px;
  color: #f69f00;
  text-transform: uppercase;
  position: relative;
}
.heading-3::before {
  content: "";
  position: absolute;
  height: 1.1rem;
  width: 1.1rem;
  border: 2px solid #8186a1;
  border-radius: 50%;
  background-color: white;
  transform: translate(-2.3rem, 4px);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0,0,0,0.35);
  z-index: 5;
}
.backdrop-enabled {
  display: block;
}

#about,#resume,#location,#contact {
  max-width: 800px;
  margin: auto;
}

@keyframes blink {
  from {
    border-right-color: rgba(255, 255, 255, 0);
  }
  to {
    border-right-color: white;
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 775px) {
  #nav {
    flex-direction: row;
    justify-content: space-between;
  }
  #nav .mainStrip {
    flex-direction: row;
    justify-content: space-between;
  }
  #nav .mainStrip #menu-btn {
    display: none;
  }
  #nav .menuStrip {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  #nav ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-left: 0;
  }
  #nav .menuStrip .link {
    color: white;
    background-color: transparent;
    margin: 0;
    padding: 0 6px;
  }
  #nav .menuStrip .link i {
    display: none;
  }
  #nav .mainStrip p {
    margin-left: 13px;
  }
}

@media only screen and (min-width: 800px) {
  #contact .email, #contact .call {
    max-width: 370px;
  }
  #contact .email {
    margin-right: auto;
    margin-left: 0;
  }
  #contact .call {
    margin-left: auto;
    margin-right: 0;
  }
}
@media only screen and (max-width: 330px) {
  .heading {
    word-wrap: break-word;
  }
}