#resume {
  font-size: 1.5rem;
  padding: 90px 20px 0px;
}
#resume .heading {
  margin-bottom: 30px;
}
#resume .heading::before {
  content: "MY RESUME";
}
#resume p {
  text-align: center;
}
#resume .group {
  padding: 0 15px;
  border-left: 2px solid #8186a1;
}
#resume .group p {
  text-align: left;
  margin-top: 20px;
}
#resume .group .timeSpan {
  margin-top: 20px;
  margin-right: 5px;
  padding: 5px;
  display: inline-block;
  text-transform: capitalize;
  background-color: #e1e1e1;
  border: 1px solid gainsboro;
  border-radius: 2px;
}
#resume .group .project-link {
  color: #005fbf;
  display: inline-block;
  margin-top: 10px;
  word-break: break-all;
}
#resume .techs-used {
  margin-top: 10px;
}
#resume .techs-used p {
  margin: 0;
}
